node_modules
.next
out
.git
.pnpm-store
.vercel
coverage
build
dist

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.tsbuildinfo
.DS_Store
*.pem

mockData.ts
userData.ts

Dockerfile*
Compose.yml
compose.yml
docker-compose.yml
